<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pbaltazar.blindo"
    android:installLocation="internalOnly">

    <!-- Required to call the API and other functions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Required to storage the Blindo account -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <!-- Required to allow purchases -->
    <uses-permission android:name="com.android.vending.BILLING" />

    <!-- Required to show the installed apps -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <!-- Required to allow Blindo Vision to access to screenshots -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".Blindo"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.blindo.BlindoActivity"
            android:label="@string/title_activity_blindo"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <nav-graph android:value="@navigation/main_navigation" />
        </activity>

        <activity
            android:name=".ui.user.login.LoginActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="com.blindoapp.intent.action.AUTHENTICATE_USER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.pack.upload.UploadPackActivity"
            android:label="@string/title_activity_upload_pack"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">
            <intent-filter
                android:icon="@drawable/ic_blindo_192dp"
                android:label="@string/title_activity_upload_pack"
                android:priority="1">
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/json" />

                <!-- Talkback labels -->
                <data
                android:host="com.google.android.marvin.talkback.providers.FileProvider"
                    android:pathSuffix=".tbl"
                    tools:ignore="AppLinkUrlError" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.preferences.vision.BlindoVisionPreferencesActivity"
            android:label="@string/settings__vision_activity_title"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.accessibilityservice.SERVICE_SETTINGS" />
            </intent-filter>
        </activity>

        <service
            android:name=".utils.authentication.local.system.AccountAuthenticatorService"
            android:enabled="true"
            android:exported="false"
            android:process=":authentication">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <service
            android:name=".utils.messaging.MessagingService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>

            <meta-data
                android:name="com.google.firebase.messaging.default_notification_icon"
                android:resource="@drawable/ic_blindo_192dp" />
            <meta-data
                android:name="com.google.firebase.messaging.default_notification_color"
                android:resource="@color/colorAccent" />
            <meta-data
                android:name="com.google.firebase.messaging.default_notification_channel_id"
                android:value="newsNotificationChannel" />
        </service>

        <service
            android:name=".services.BlindoVisionService"
            android:icon="@drawable/ic_blindo_192dp"
            android:label="@string/vision__service_name"
            android:description="@string/vision__introduce"
            android:enabled="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:settingsActivity=".ui.preferences.vision.BlindoVisionPreferencesActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />

                <category android:name="android.accessibilityservice.category.FEEDBACK_SPOKEN" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/blindo_vision_service" />
        </service>

        <provider
            android:name=".utils.search.RecentSearchesProvider"
            android:authorities="com.pbaltazar.blindo.utils.search.RecentSearchesProvider"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
                android:authorities="${applicationId}.providers.LabelsProvider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths" />
        </provider>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_application_id" />
    </application>

</manifest>
